<p><h1>Editing Spending</h1></p>

<%= render 'form', spending: @spending %>

<br>
<%= link_to 'Show', @spending, class:"btn btn-secondary" %>
<%= link_to 'Back', spendings_path, class:"btn btn-dark" %>
